<div class="row">
<div class="col-12">
<a href="#myModal" data-toggle="modal" class="btn btn-primary">Agregar movimiento</a>
		<div id="myModal" class="modal fade">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button data-dismiss="modal" class="close" type="button">×</button>
													<h3>Modal header</h3>
												</div>
												<div class="modal-body">
													
													<form class="form-horizontal" method="post" action="#" name="basic_validate" id="basic_validate" novalidate="novalidate" id="data" name="data">
					                                   <div class="form-group">
					                                        <label class="control-label">Fecha</label>
					                                        <div class=" controls">
					                                            <input type="text" data-date="12-02-2012" data-date-format="dd-mm-yyyy" value="<%=@fecha_actual.strftime("%d-%m-%Y")%>" class="datepicker form-control input-small" name="fecha" id="fecha"/>
					                                        </div>
					                                    </div>
					                                     <div class="form-group">
					                                        <label class="control-label">Descripcion</label>
					                                        <div class="controls">
					                                            <input type="text" class="form-control input-small" name="descripcion" id="descripcion">
					                                        </div>
					                                    </div>
					                                    <div class="form-group">
					                                        <label class="control-label">Cantidad</label>
					                                        <div class="controls">
					                                            <input type="text" class="form-control input-small" name="cantidad" id="cantidad">
					                                        </div>
					                                    </div>
					                                    <div class="form-group">
					                                        <label class="control-label">Notas</label>
					                                        <div class="controls">
					                                            <input type="text" class="form-control input-small" name="notas" id="notas">
					                                        </div>
					                                    </div>
					                                    

					                                    <div class="form-group">
															<label class="control-label">Cuenta</label>
															<div class="controls">
																<%= select_tag("account_id",  options_from_collection_for_select(Account.all, "id", "name") )%>
															</div>
														</div>	
														<div class="form-group">
															<label class="control-label">Tipo de movimiento</label>
															<div class="controls">
																<label><input type="radio" name="movement_kind" value="0" checked/> Cargo</label>
																<label><input type="radio" name="movement_kind" value="1" /> Abono</label>
															</div>
														</div>

					                                    <div class="form-actions">
					                                        <input type="submit" value="Agregar" class="btn btn-primary" id="addMovement" name"addMovement">
					                                    </div>
					                                </form>



												</div>
											</div>
										</div>
									</div>
</div>
</div>


<div class="row">
<div class="col-12">
<div class="widget-box">
	<div class="widget-title">
		<span class="icon">
			<i class="glyphicon glyphicon-th"></i>
		</span>
		<h5>Dynamic table</h5>
	</div>
	<div class="widget-content nopadding">

	<table class="table table-striped table-bordered data-table table-hover" id="movements_datatable" data-source="<%= movements_url(format: "json") %>">
		<thead>
	  <tr>
	    <th>ID</th>
	    <th>Fecha</th>
	    <th>Descripcion</th>
	    <th>Cantidad</th>
	    <th>Tipo</th>
	  </tr>
	</thead>
	<tbody>
	
	</tbody>
	</table>

	</div>
</div>

</div>
</div>


<style>
.datepicker{z-index:1151 !important;}
</style>

<script type="text/javascript">
$(function(){

     // "sDom": '<""l>t<"F"fp>',


	 var oTable = $('#movements_datatable').dataTable({
      
      "bProcessing": true,
      "bJQueryUI": true,
      "sPaginationType": 'full_numbers' ,   
      "bServerSide": true,
      "sAjaxSource": $('#states_datatable').data('source'),
      "columns": [null, null,null, null, null],
      "oLanguage": {
        "sLengthMenu": "Ver _MENU_ Filas",
        "sSearch": "",
        "oPaginate": {
          "sPrevious": "",
          "sNext": "" 
        }
      }  
      }     
     );    	     



	$('#addMovement').on('click',function(event){
		console.log($('form').serializeObject());
		console.log('Click en dialog');
		$.ajax({
			url: '/addmovement',
			type: "POST",
			data: {datos: JSON.stringify($('form').serializeObject())},
			success: function(data){
				$('#myModal').modal('hide');
				oTable.fnDraw();
			  console.log(data);

			
			}
			}).error(function() {

			})
	       	.complete(function() { 
	       		
	       		       		
	       	});

		event.preventDefault();
	});

});

</script>