<div class="row">
					<div class="col-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="glyphicon glyphicon-align-justify"></i>									
								</span>
								<h5>Basic validation</h5>
								<span class="label label-danger">48 notices</span>
							</div>
							<div class="widget-content nopadding">
								<form class="form-horizontal" method="post" action="#" name="basic_validate" id="basic_validate" novalidate="novalidate">
                                    <div class="form-group">
                                        <label class="control-label">Required Field</label>
                                        <div class="controls">
                                            <input type="text" class="form-control input-small" name="required" id="required">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <div class="controls">
                                            <input type="text" class="form-control input-small" name="email" id="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Date</label>
                                        <div class="controls">
                                            <input type="password" class="form-control input-small" name="date" id="date">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">URL</label>
                                        <div class="controls">
                                            <input type="password" class="form-control input-small" name="url" id="url">
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <input type="submit" value="Validate" class="btn btn-primary">
                                    </div>
                                </form>
							</div>
						</div>			
					</div>
				</div>