


<div class="row">
<div class="col-12">
<div class="widget-box">
  <div class="widget-title">
    <span class="icon">
      <i class="glyphicon glyphicon-th"></i>
    </span>
    <h5>Dynamic table</h5>
  </div>
  <div class="widget-content nopadding">

  <table class="table table-striped table-bordered data-table table-hover" id="banks_datatable" data-source="<%= banks_url(format: "json") %>">
    <thead>
    <tr>
      <th>ID</th>
      <th>Clave</th>
      <th>Descripcion</th>
    </tr>
  </thead>
  <tbody>
  
  </tbody>
  </table>

  </div>
</div>

</div>





